<div class="eqLogic-widget eqLogic allowResize" style="width: #width#;height: #height#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#">
  <center class="widget-name"><span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
  <div class="content-lg">
    <!-- INPUT (MESSAGE) -->
    <input class="form-control input-sm message" placeholder="#message_placeholder#" data-cmd_id="#id#" value="#message#"/>
    <!-- SELECT (SON) -->
    <div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="select" data-template="default" data-cmd_id="56" data-cmd_uid="cmd56__897662569__" data-version="dashboard" data-eqlogic_id="3">
      <div class="title ">
        <div class="cmdName">Son</div>
      </div>
      <div class="content-xs">
        <select class="selectCmd son">
          #options#
        </select>
      </div>
    </div>
      <!-- INPUT (ICONE) -->
    <input class="form-control input-sm icone" rows="2" placeholder="#icone_placeholder#" data-cmd_uid="#uid#" data-cmd_id="#id#" value="#icone#"/>
      <!-- BOUTON (ENVOYER) -->
    <a class='btn btn-xs execute'>Envoyer</a>
  </div>
  <script>
    $('.eqLogic-widget[data-eqLogic_uid=#uid#]:last .execute').on('click', function() {
      jeedom.cmd.execute({
        id: '#message_id#',
        value: {
          message: $('.eqLogic-widget[data-eqLogic_uid=#uid#] .message').value(),
          son: $('.eqLogic-widget[data-eqLogic_uid=#uid#] .son').value(),
          icone: $('.eqLogic-widget[data-eqLogic_uid=#uid#] .icone').value()
        }
      })
    })
  </script>
</div>
