<style>
  .eqLogic-widget[data-eqLogic_uid="#uid#"] .icone{
    margin-bottom: 15px;
    position: relative;
    height: 28px;
  }

  .eqLogic-widget[data-eqLogic_uid="#uid#"] .icone > input{
    margin-bottom: 15px;
    float: left;
  }

  .eqLogic-widget[data-eqLogic_uid="#uid#"] .icone.previewed > input{
    width: calc(100% - 28px - 15px);
  }

  .eqLogic-widget[data-eqLogic_uid="#uid#"] .icone > a{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
  }

  .eqLogic-widget[data-eqLogic_uid="#uid#"] .icone.previewed > a{
    right: calc(15px + 28px);
  }

  .eqLogic-widget[data-eqLogic_uid="#uid#"] .icone > .img{
    margin-left: 15px;
    height: 28px;
    width: 28px;
    float: left;
    position: relative;
  }

  .eqLogic-widget[data-eqLogic_uid="#uid#"] .icone:not(.previewed) > .img{
    display: none;
  }

  .eqLogic-widget[data-eqLogic_uid="#uid#"] .icone > .img > div{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
</style>

<div class="eqLogic-widget eqLogic allowResize" style="width: #width#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#">
  <center class="widget-name"><span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
  <div class="content-lg" style="padding:0px 15px 15px 15px;">
    <!-- INPUT (MESSAGE) -->
    <span class="cmdName" style="font-size:11px">Message</span>
    <input style="margin-bottom: 10px;" class="form-control input-sm message" placeholder="Votre message..." data-cmd_id="#id#" type="text" />
    <!-- SELECT (SON) -->
    <span class="cmdName" style="font-size:11px">Son</span>
    <select class="selectCmd son" style="margin-bottom: 10px;font-size:12px!important;background-color:var(--form-bg-color) !important;height:28px;">
      #options#
    </select>
    <!-- INPUT (ICONE) -->
    <span class="cmdName" style="font-size:11px">Icone</span>
    <div class="icone">
      <input class="form-control input-sm" rows="2" placeholder="ID de l'icone..." data-cmd_uid="#uid#" data-cmd_id="#id#" type="number" />
      <a href="https://developer.lametric.com/icons" target="_blank">?</a>
      <div class="img">
        <div class="png"></div>
        <div class="gif"></div>
      </div>
    </div>
    <!-- BOUTON (ENVOYER) -->
    <a class='btn btn-xs execute' style="width: 100%;">Envoyer</a>
  </div>
  <script>
    var Timer#id#;
    
    /* Fonction appeler par le setTimeout */
    function checkImg () {
      var resultExt = 0;
      const VALUE = $('.eqLogic-widget[data-eqLogic_uid=#uid#] .icone > input').value();
      const ICON = $('.eqLogic-widget[data-eqLogic_uid=#uid#] .icone > input').closest(".icone");
      const CLASS= "previewed";
      const PARENT = ICON.addClass(CLASS).find("> .img");
      
      $.ajax({
        type: "POST", 
        url: "../plugins/lametric_time/core/ajax/lametric_time.ajax.php", 
        data: {
          action: "getExtIcone",
          id: VALUE,
        },
        dataType: 'json',
        async: false,
        error: function (request, status, error) {
          handleAjaxError(request, status, error);
        },
        success: function (data) {
          resultExt = data.result;
        }
      });
      if (resultExt != 0) {
        PARENT.find("> .gif").style("background-image", "url(https://developer.lametric.com/content/apps/icon_thumbs/"+VALUE+"_icon_thumb."+resultExt+")");
      }
      else
      {
        ICON.removeClass(CLASS);
      }
    }
    
    $('.eqLogic-widget[data-eqLogic_uid=#uid#] .icone > input').on('keyup', function() {
      clearTimeout(Timer#id#);
      if($(this).value() == ""){
        $(this).closest(".icone").removeClass("previewed");
       }
      else
      {
        Timer#id# = setTimeout(checkImg, 800);
      }
    });

    $('.eqLogic-widget[data-eqLogic_uid=#uid#] .execute').on('click', function() {
      const MESSAGE = $('.eqLogic-widget[data-eqLogic_uid=#uid#] .message');
      const SON = $('.eqLogic-widget[data-eqLogic_uid=#uid#] .son');
      const ICONE = $('.eqLogic-widget[data-eqLogic_uid=#uid#] .icone').removeClass("previewed").find('> input');
      jeedom.cmd.execute({
        id: '#envoyer_id#',
        value: {
          message: MESSAGE.value(),
          son: SON.value(),
          icone: ICONE.value()
        }
      });

      MESSAGE.val("");
      SON.val("");
      ICONE.val("");
    });
  </script>
</div>
